<div class="register-container">
    <div class="header">REGISTER FORM</div>

    <form [formGroup]="registerForm" (ngSubmit)="register()">

        <div class="name-container">
            <div class="error-container">
                <label>Name</label>
                <div *ngIf="name?.touched && name?.invalid" class="error">*Please enter your name</div>
            </div>

            <input type="text" formControlName="name" placeholder="Enter name">
        </div>

        <div class="lastname-container">
            <div class="error-container">
                <label>Lastname</label>
                <div *ngIf="lastname?.touched && lastname?.invalid" class="error">*Please enter your lastname</div>
            </div>

            <input type="text" formControlName="lastname" placeholder="Enter lastname">
        </div>

        <div class="email-container">
            <div class="error-container">
                <label>Email</label>
                <div *ngIf="email?.touched && email?.invalid" class="error">*Please enter valid email</div>
            </div>

            <input type="email" formControlName="email" placeholder="Enter email">
        </div>

        <div class="passwords-container">
            <div class="password-container">
                <label>Password</label>
                <input type="password" formControlName="password" placeholder="Enter password">
                <div class="error-container">
                    <div *ngIf="password?.touched && password?.invalid" class="error">*Enter at least 8 characters</div>
                </div>
            </div>

            <div class="password-container">
                <label>Repeat Password</label>
                <input type="password" formControlName="repeatPassword" placeholder="Repeat password">
                <div class="error-container">
                    <div *ngIf="repeatPassword?.touched && !passwordsMatch()" class="error">*Passwords do not match</div>
                </div>
            </div>
        </div>


        <div class="login-register">
            <button type="submit">REGISTER</button>
        </div>

    </form>
</div>