
.register-container{
    margin-left: 20px;
    width: 500px;
    height: 475px;
    border: 1px solid rgba(46, 167, 211, 0.138);
    border-radius: 3px;
    position: relative;
}

form {
    margin-top: 5px;
    margin-left: 18px;
    justify-content: space-between;
}


.header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    background-color: rgba(46, 167, 211, 0.384);
    color: rgba(55, 55, 167, 0.673);
    font-weight: bold;
}

input {
    width: 450px;
    height: 25px;
    border-color: rgba(46, 167, 211, 0.138);
    padding-left: 10px;

}


label {
    margin-left: 10px;
    font-weight: bold;
    font-size: small;
    margin-top: 20px;
    margin-bottom: 10px;
}


button {
    position: absolute;
    bottom : 20px;
    font-weight: bold;
    height: 40px;
    width: 100px;
    background-color: rgb(46, 167, 211);
    border: 0px;
    color: white;
}

.error {
    color: red;
    font-size: small;
} 

.error-container {
    width: 460px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.password-container input{
    width: 200px;
    margin-top: 10px;
}



.password-container{
    width: 200px;
    margin-top: 20px;
}

.password-container .error{
    margin-top: 5px;
}


.passwords-container{
    display: flex;
    flex-direction: row;
    gap: 50px;

}

