

<div class="full-dashboard">
    <h1 >Manage Dashboard</h1>
    <div class="dashboard-head">
        Dashboard
    </div>
    <div class="dashboard-body">
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
    </div>
</div>
